<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/access-menu.css">
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/card.css">
    <link rel="stylesheet" href="../css/card-carrera.css">
    <link rel="stylesheet" href="../css/modelo-estudios.css">
    <link rel="stylesheet" href="../css/pilares-institucionales.css">
    <link rel="stylesheet" href="../css/becas.css">
    <link rel="stylesheet" href="../css/faq.css">
    <link rel="stylesheet" href="../css/footer.css">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link rel="shortcut icon" href="../../src/img/favicon.ico" type="image/x-icon">
    <title>Universidad Tecnológica de León</title>
</head>

<body>

    <nav class="navbar-utl">
        <div class="navbar-info">
            <a href="../../index.html"><img src="../../src/img/UTL_imagotipo.png" alt="UTL Logotipo"></a>

            <div class="access-buttons">
                <a href="mailto:lestrada@utleon.edu.mx" class="btn-primary-utl"> <i class='bx bxs-graduation'></i>
                    Contáctanos</a>

                <div class="chocolate-button">
                    <input type="checkbox" id="chocolate-toggle">
                    <label for="chocolate-toggle" class="chocolate-label">
                        <img src="../../svg/menu-grid-o.svg" alt="">
                    </label>
                    <div class="chocolate-menu">
                        <ul>
                            <li><a href="https://sito.utleon.edu.mx/" target="_blank"><img src="../../svg/sito.svg"
                                        alt="">SITO</a></li>
                            <li><a href="https://aulavirtual.seg.guanajuato.gob.mx/materias/login/index.php"
                                    target="_blank"><img src="../../svg/aula-virtual.svg" alt="">Aula Virtual</a></li>
                            <li><a href="https://login.live.com/login.srf?wa=wsignin1.0&rpsnv=16&ct=1698001631&rver=7.0.6738.0&wp=MBI_SSL&wreply=https%3a%2f%2foutlook.live.com%2fowa%2f%3fcobrandid%3dab0455a0-8d03-46b9-b18b-df2f57b9e44c%26nlp%3d1%26deeplink%3dowa%252f%26RpsCsrfState%3ddbd63f50-097d-4926-47b1-d027c06f7cee&id=292841&aadredir=1&CBCXT=out&lw=1&fl=dob%2cflname%2cwld&cobrandid=ab0455a0-8d03-46b9-b18b-df2f57b9e44c"
                                    target="_blank"><img src="../../svg/outlook.svg" alt="">Outlook</a></li>
                            <li><a href="http://www.bibliotecaecest.mx/" target="_blank"><img src="../../svg/books.svg"
                                        alt="">Biblioteca</a></li>
                            <li><a href="https://utleon.edu.mx/resource/img/CALENDARIO%20LE%C3%93N__.jpg"
                                    target="_blank"><img src="../../svg/calendar.svg" alt="">2022 - 2023</a></li>
                            <li><a href="https://utleon.edu.mx/resource/img/CALENDARIO%20LE%C3%93N.jpg"
                                    target="_blank"><img src="../../svg/calendar.svg" alt="">2023 - 2024</a></li>
                            <li><a href="https://www.utleon.edu.mx/public_html/transparencia/normateca/docs/normas/reglamento_academico.pdf"
                                    target="_blank"><img src="../../svg/rules.svg" alt="">Reglamento</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="navbar-container">
            <ul class="navbar-menu">
                <li class="dropdown-utl">
                    <a href="../../index.html">Zona UTL</a>
                </li>
                <li class="dropdown-utl">
                    <a href="#">Aspirantes <i class='bx bx-chevron-down'></i></a>
                    <ul class="dropdown-menu-utl">
                        <li><a href="../../index.html#carreras">Oferta educativa</a></li>
                        <li><a href="../alumnos/admisiones.html">Admisiones</a></li>
                        <li><a href="../alumnos/becas.html">Becas</a></li>
                    </ul>
                </li>
                <li class="dropdown-utl">
                    <a href="#">Estudiantes <i class='bx bx-chevron-down'></i></a>
                    <ul class="dropdown-menu-utl">
                        <li><a href="../alumnos/becas.html">Becas</a></li>
                        <li><a href="../estudiantes/reinscripcion.html">Reinscripción</a></li>
                        <li><a href="../estudiantes/reingreso.html">Reingreso</a></li>
                        <li><a href="../estudiantes/estadias.html">Estadías</a></li>
                        <li><a href="../estudiantes/titulacion.html">Titulación</a></li>
                        <li><a href="../estudiantes/regularizacion.html">Proceso de regularización</a></li>
                        <li><a href="../estudiantes/proceso-baja.html">Proceso de baja</a></li>
                        <li><a href="../estudiantes/tramites-escolares.html">Trámites escolares</a></li>
                    </ul>
                </li>
                <li class="dropdown-utl">
                    <a href="#">Docentes <i class='bx bx-chevron-down'></i></a>
                    <ul class="dropdown-menu-utl">
                        <li><a href="../docentes/desarrollo-academico.html">Desarrollo académico</a></li>
                        <li><a href="../docentes/tutoreo.html">Tutoreo</a></li>
                        <li><a href="../docentes/movilidad-utl.html">Movilidad Docente</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>


    <br>

    <header>
        <section class="header-info">
            <h1 class="title-header">Movilidad <span class="text-highlight">UTL 2024</span></h1>
        </section>
        <section class="header-img">
            <img src="../../src/img/utl_2.webp" alt="">
        </section>
    </header>

    <br><br>

    <main>

        <h2 class="title-header">Programa <span class="text-highlight">Delfín</span></h2>

        <section class="section-content">
            <p>El Programa Delfín, se creó en 1995 con el objetivo fortalecer la cultura de colaboración entre las
                Instituciones de Educación Superior y Centros de Investigación integrantes del Programa, a través de la
                movilidad de profesores-investigadores, estudiantes y de la divulgación de productos científicos y
                tecnológicos.</p>
            <p>La UTL forma parte de las más de 250 universidades de alcance nacional e internacional que integran este
                proyecto.</p>
        </section>

        <h3 class="text-highlight">Objetivos</h3>
        <section class="section-content" id="becas-info">
            <img src="../../src/img/programa-delfin.jpeg" loading="lazy" alt="Programa Delfín">
            <div>
                <ol>
                    <li>Contribuir a la creación de una cultura científico-tecnológica por medio de actividades de
                        divulgación para el conocimiento, aprovechamiento y valoración de las tareas de investigación y
                        posgrado que realizan las IES del Pacífico.</li>
                    <li>Mediante la vinculación de estudiantes destacados con investigadores de los posgrados de las IES
                        participantes, se contribuirá a la formación de cuadros académicos de alto nivel y con ello
                        consolidar la investigación y el fortalecimiento de los programas de posgrado de las
                        Instituciones del Pacífico.</li>
                    <li>Fortalecer a través de la divulgación mediante estancias de profesores y/o investigadores,
                        realizando cursos, talleres, conferencias y otras actividades con valor curricular.</li>
                    <li>Crear un sistema editorial que dé a conocer el producto científico-tecnológico-académico de las
                        IES del Programa Delfín y con ello fortalecer el posgrado y la investigación.</li>
                </ol>
                <p>Quieres conocer más del programa y te gustaría algún día realizar proyectos de investigación de
                    impacto para tu formación académica, visita el sitio: <a href="https://www.programadelfin.org.mx/"
                        target="_blank">https://www.programadelfin.org.mx/</a></p>
            </div>
        </section>

    </main>

    <br>

    <footer>
        <div class="more">
            <div class="more-links">
                <ul class="link-utl">
                    <li><a>Protocolos de Salud para el estudiantado</a></li>
                    <li><a>Calendario Escolar 2023 - 2024</a></li>
                    <li><a>Calendario Escolar 2022 - 2023</a></li>
                    <li><a>Difusión e Imagen Institucional</a></li>
                </ul>
            </div>
            <div class="more-links">
                <ul class="link-utl">
                    <li><a>Protocolo de Atención a casos de Violencia, Acoso y Hostigamiento
                            Escolar</a></li>
                    <li><a>Comisión de Salud UTL</a></li>
                    <li><a>Obligaciones de Transparencia</a></li>
                </ul>
            </div>
            <div class="more-contact">
                <h5>Conmutador 477 710 00 20</h5>
            </div>
            <div class="more-media">
                <h5>Encuéntranos como: UTLmex</h5>
                <div>
                    <a href="https://www.facebook.com/UTLmex/" target="_blank"><i
                            class='bx bxl-facebook-circle'></i></a>
                    <a href="https://www.facebook.com/UTLmex/" target="_blank"><i class='bx bxl-whatsapp'></i></a>
                    <a href="https://www.instagram.com/utlmex/" target="_blank"><i class='bx bxl-instagram'></i></a>
                    <a href="https://www.youtube.com/watch?v=nBwhAYlqEzY" target="_blank"><i
                            class='bx bxl-youtube'></i></a>
                    <a href="https://twitter.com/utlmex" target="_blank"><i class='bx bxl-twitter'></i></a>
                </div>
            </div>
        </div>

        <div class="institutions">
            <img src="https://utleon.edu.mx/resource/iconos/footer-logo_2022.jpg" alt="Instituciones">
        </div>

        <div class="vertical-line"></div>

        <div class="address">
            <p>Blvd. Universidad Tecnológica #225 Col. San Carlos
                CP. 37670 León, Gto. Mex. l Tel (477) 7 10 00 20</p>
            <div>
                <ul class="link-utl">
                    <li><a href="https://utleon.edu.mx/resource/documentos/AVISO%20PRIVACIDAD%20SIMPLIFICADO.pdf"
                            target="_blank">Aviso de Privacidad Simplificado</a></li>
                    <p>|</p>
                    <li><a href="https://utleon.edu.mx/resource/documentos/AVISO%20PRIVACIDAD%20INTEGRAL%2023.pdf"
                            target="_blank">Aviso de Privacidad Integral</a></li>
                </ul>
            </div>
        </div>
    </footer>


</body>

<script src="../js/jquery-2.1.4.min.js"></script>
<script src="../js/becas-list.js"></script>
<script src="../js/faq.js"></script>

</html>
